/* ======================================== main setings ========================================= */
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  font-size: 16px;
  background-color: #ffffff;
}

.link {
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  padding: 0 16px;
}

button {
  cursor: pointer;
}

input {
  font-family: inherit;
}
/* ======================================== /main setings ========================================= */

/* ======================================== header mobile ========================================= */

/* ======================================== /header mobile ========================================= */

/* ======================================== hero mobile ========================================= */

/* ======================================== /hero mobile ========================================= */

/* ======================================== advantages mobile ========================================= */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.advantages-icon-list {
  display: none;
}

.advantages-title {
  color: #434455;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.72px;
  display: none;
}

.advantages-subtitle {
  text-align: center;
  color: #2e2f42;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-transform: capitalize;
  align-self: stretch;
}

.advantages-text {
  align-self: stretch;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 288px;
}

.advantages-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.advantages {
  padding: 96px 0;
}
/* ======================================== /advantages mobile ========================================= */

/* ======================================== team mobile ========================================= */

.team {
  background-color: #f4f4fd;
  padding: 96px 0;
}

.team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
}

.team-list-item {
  padding: 32px 0;
  background-color: #ffffff;
}

.team-peopel {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-title {
  text-align: center;
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  text-transform: capitalize;
  letter-spacing: 0.72px;
  margin-bottom: 72px;
}

.team-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  text-align: center;
  margin-bottom: 8px;
}

.team-text {
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-align: center;
  margin-bottom: 8px;
}

.team-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon {
  fill: #f4f4fd;
  background-color: #404bbf;
}

.list-social-links {
  display: flex;
  gap: 24px;
  justify-content: center;
}

/* ======================================== /team mobilet ========================================= */

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    margin: 0 auto;
  }
  /* ======================================== header tablet ========================================= */

  /* ======================================== /header tablet ========================================= */

  /* ======================================== hero tablet ========================================= */

  /* ======================================== /hero tablet ========================================= */
  /* ======================================== advantages tablet ========================================= */
  .advantages-subtitle {
    text-align: start;
    color: #2e2f42;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-transform: capitalize;
    align-self: stretch;
  }

  .advantages-text {
    align-self: stretch;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 356px;
  }

  .advantages-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
  }
  .advantages-list-item {
    width: calc((100%-24px) / 2);
  }

  /* ======================================== /advantages tablet ========================================= */
  /* ======================================== team tablet ========================================= */

  .team-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 64px;
    justify-content: center;
  }

  .team-peopel {
    width: calc((100%-24px) / 2);
  }

  /* ======================================== /team tablet ========================================= */
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
  }
  /* ======================================== header desktop ========================================= */

  /* ======================================== /header desktop ========================================= */

  /* ======================================== hero desktop ========================================= */

  /* ======================================== /hero desktop ========================================= */
  /* ======================================== advantages desktop ========================================= */
  .advantages-icon-list {
    display: flex;
    gap: 24px;
    margin-bottom: 8px;
  }

  .advantages-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 100px;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background: #f4f4fd;
    height: 112px;
    margin-bottom: 8px;
  }

  .advantages-title {
    color: #434455;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 0.72px;
    display: none;
  }

  .advantages-subtitle {
    color: #2e2f42;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
  }
  .advantages-text {
    line-height: 1.5;
    letter-spacing: 0.32px;
    width: 264px;
  }

  .advantages-list {
    display: flex;
    gap: 24px;
  }

  .advantages-list-item {
    width: calc((100%-72px) / 4);
  }

  .advantages {
    padding: 120px 0;
  }
}
/* ======================================== /advantages desktop ========================================= */

/* ======================================== team desktop ========================================= */

.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-list {
  display: flex;
  gap: 24px;
}
.team-peopel {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-list-item {
  padding: 32px 0;
  background-color: #ffffff;
}

.list-social-links {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.team-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon {
  fill: #f4f4fd;
}

.team-links:hover,
.team-links:focus {
  background-color: #404bbf;
}

.team-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  text-transform: capitalize;
  letter-spacing: 0.72px;
  margin-bottom: 72px;
}

.team-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  text-align: center;
  margin-bottom: 8px;
}

.team-text {
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-align: center;
  margin-bottom: 8px;
}
/* ======================================== /team desktop ========================================= */
