/* ======================================== main setings ========================================= */
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  font-size: 16px;
  background-color: #ffffff;
}

.link {
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  padding: 0 16px;
}

button {
  cursor: pointer;
}

input {
  font-family: inherit;
}
/* ======================================== /main setings ========================================= */
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
    margin: 0 auto;
  }
}

/* ======================================== header mobile ========================================= */

.main-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #4d5ae5;
  line-height: 1.17;
  text-decoration: none;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
  padding: 24px 0;
}
.header-weblogo {
  font-family: 'Raleway', sans-serif;
  color: #2e2f42;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.7;
  text-decoration: none;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 24px 0;
}

/* ======================================== /header mobile ========================================= */

/* ======================================== hero mobile ========================================= */
.hero {
  padding: 72px 0;
  background-color: #2e2f42;
  text-align: center;
}

.back-img {
  max-width: 1440px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mobile-hero.jpg);
}
@media screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px),
  screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .back-img {
    max-width: 1440px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mobile-hero@2x.jpg);
  }
}

.hero-button {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  background-color: #4d5ae5;
  letter-spacing: 0.64px;
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  padding: 16px 32px;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* ======================================== /hero mobile ========================================= */

/* ======================================== advantages mobile ========================================= */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.advantages-icon-list {
  display: none;
}

.advantages-title {
  color: #434455;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.72px;
  display: none;
}

.advantages-subtitle {
  text-align: center;
  color: #2e2f42;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-transform: capitalize;
  align-self: stretch;
}

.advantages-text {
  align-self: stretch;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 288px;
}

.advantages-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.advantages {
  padding: 96px 0;
}
/* ======================================== /advantages mobile ========================================= */

/* ======================================== team mobile ========================================= */

.team {
  background-color: #f4f4fd;
  padding: 96px 0;
}
.list-social-links {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
}

.team-list-item {
  padding: 32px 0;
  background-color: #ffffff;
}

.team-peopel {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-title {
  text-align: center;
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  text-transform: capitalize;
  letter-spacing: 0.72px;
  margin-bottom: 72px;
}

.team-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  text-align: center;
  margin-bottom: 8px;
}

.team-text {
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-align: center;
  margin-bottom: 8px;
}

.team-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon {
  fill: #f4f4fd;
}

.team-links:hover,
.team-links:focus {
  background-color: #404bbf;
}

/* ======================================== /team mobilet ========================================= */
/* ======================================== portfolio mobile ========================================= */
.portfolio {
  padding: 96px 0;
}

.portfolio-list-items:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 1.111;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.portfolio-text:not(:last-child) {
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-bottom: 8px;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
}

.portfolio-list-items-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.hidden-inform {
  position: relative;
  overflow: hidden;
}

.hidden-text {
  position: absolute;
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.32px;
  background-color: #4d5ae5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
  padding: 40px 32px;
}

.hidden-inform:hover .hidden-text {
  transform: translateY(0);
}

/* ======================================== /portfolio mobile ========================================= */
/* ======================================== footer mobile ========================================= */

.footer {
  background-color: #2e2f42;
  padding-top: 97.5px;
  padding-bottom: 96px;
}
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #4d5ae5;
  line-height: 1.17;
  text-decoration: none;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 17.5px;
}
.footer-logo-span {
  font-family: 'Raleway', sans-serif;
  color: #f4f4fd;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.7;
  text-decoration: none;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.link-footer {
  display: inline-block;
}

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-links:hover,
.footer-links:focus {
  background-color: #31d0aa;
}

.footer-icon {
  fill: #f4f4fd;
}

input::placeholder {
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
}

.footer-btn {
  min-width: 165px;
  display: inline-flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  background-color: #4d5ae5;
  letter-spacing: 0.64px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}

.footer-btn:hover,
.footer-btn:focus {
  background-color: #404bbf;
}

.footer-icon {
  fill: #f4f4fd;
}
.footer-icon-send {
  fill: #ffffff;
  margin-left: 16px;
}

/* ======================================== /footer mobile ========================================= */
/* ======================================== overlay mobile=================================== */

.overlay-backdrop {
  visibility: hidden;
  position: fixed;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 100%;
  z-index: 99999;
  top: 0;
  left: 0;
}

.is-open {
  visibility: visible;
}

.close {
  position: absolute;
  display: flex;
  background-color: #e7e9fc;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  top: 24px;
  right: 24px;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close:hover,
.close:focus {
  background-color: #404bbf;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close:hover .close-btn,
.close:focus .close-btn {
  fill: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
  fill: #2e2f42;
}

.form-subtitle {
  color: #2e2f42;
  width: 240px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 16px;
}
.form-window {
  display: flex;
  flex-direction: column;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.form-label-name {
  color: #8e8f99;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.text-comment {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  resize: none;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.textarea-container {
  margin-bottom: 16px;
}

.text-comment::placeholder {
  position: absolute;
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.04em;
  top: 8px;
  left: 16px;
}

.input-items {
  line-height: 1.5;
  padding: 11px 0;
  padding-left: 38px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.input-items:focus + .input-icon {
  fill: #4d5ae5;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-comment:focus {
  border-color: #4d5ae5;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-items:focus {
  border-color: #4d5ae5;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-container {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.castom-checkbox:checked + .name-checkbox > .icon-checkbox {
  fill: #f4f4fd;
  border: none;
  background-color: #404bbf;
}

.send-form {
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  color: #ffffff;
  display: inline-block;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-form:hover,
.send-form:focus {
  background: #404bbf;
}

.check {
  margin-bottom: 24px;
}
/* ======================================== /overlay mobile=================================== */

/* --------------------------------- mobile max ---------------------------------------- */
@media screen and (max-width: 767px) {
  .header-page-nav,
  .contacts {
    display: none;
  }
  .header-wr {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .burger-menu-open {
    border: none;
    padding: 16px 0;
    background-color: transparent;
    line-height: 0;
  }

  .burge-menu-icon {
    fill: #2f2f37;
  }

  .hero-main-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    color: #ffffff;
    letter-spacing: 0.02em;
    max-width: 224px;
    margin: 0 auto;
    margin-bottom: 72px;
    text-transform: capitalize;
    text-align: center;
  }

  .footer-text {
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: #f4f4fd;
    background-color: #2e2f42;
    max-width: 288px;
    text-align: start;
    margin-bottom: 72px;
  }

  .footer-info {
    text-align: center;
  }

  .footer-subtitle {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 16px;
  }
  .footer-form-sub {
    border: 1px solid #ffffff;
    border-radius: 4px;
    padding: 8px 0;
    padding-left: 16px;
    background-color: transparent;
    color: #ffffff;
    width: 288px;
    height: 40px;
    outline: none;
    font-size: 12px;
    letter-spacing: 0.04em;
    line-height: 1.5;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    margin-bottom: 16px;
  }

  .footer-subscribe {
    text-align: center;
  }
  .footer-social-links {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-bottom: 72px;
  }

  .form-modal {
    position: absolute;
    width: 288px;
    min-height: 623px;
    background-color: #fcfcfc;
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 16px 16px 16px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .icon-checkbox {
    display: inline-flex;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    fill: transparent;
    cursor: pointer;
  }

  .text-checkbox {
    color: #8e8f99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    font-weight: 400;
  }

  .link-policy {
    color: #4d5ae5;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
  }

  .name-checkbox {
    display: flex;
    align-items: center;
  }

  /* ========================================= overlay burger===================================== */

  .close-burger {
    position: absolute;
    display: flex;
    background-color: transparent;
    border: #e7e9fc;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    top: 24px;
    right: 24px;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .close-burger:hover,
  .close-burger:focus {
    background-color: #404bbf;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .close-burger:hover .close-btn-burger,
  .close-burger:focus .close-btn-burger {
    fill: #ffffff;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .close-btn-burger {
    fill: #2e2f42;
  }

  .mob-container-burger {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #ffffff;
    padding: 72px 24px 40px 16px;
    transform: translateX(100%);
  }

  .is-open-burger {
    transform: translateX(0%);
  }

  .burger-nav {
    color: #2e2f42;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }

  .burger-nav:hover {
    color: #404bbf;
  }

  .burger-list-item {
    margin-bottom: 40px;
  }

  .burger-list-contacts {
    margin-top: 168px;
  }
  .burger-list-contacts-items {
    color: #434455;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }

  .burger-list-contacts-items:hover {
    color: #4d5ae5;
  }

  .burger-list-contacts-items:not(:last-child) {
    margin-bottom: 24px;
  }

  .burger-social-links {
    margin-top: 48px;

    display: flex;
    gap: 40px;
  }

  /* ========================================= /overlay burger===================================== */

  /* --------------------------------- /mobile max---------------------------------------- */
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    margin: 0 auto;
  }
  /* ======================================== header tablet ========================================= */
  .burger-menu-open {
    display: none;
  }

  .header-wr {
    display: flex;
    align-items: center;
  }

  .nav-wr {
    display: flex;
    align-items: center;
    margin-right: auto;
  }

  .header-page-nav {
    display: flex;
    gap: 40px;
  }

  .link-menu {
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .active {
    position: relative;
    color: #404bbf;
    padding: 24px 0;
  }

  .active::after {
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    background-color: #404bbf;
    border-radius: 2px;
    bottom: -1px;
    display: block;
    content: '';
  }

  .link-menu:active,
  .link-menu:hover,
  .link-menu:focus {
    color: #404bbf;
  }

  .contacts .link-menu:hover,
  .contacts .link-menu:focus {
    color: #404bbf;
  }

  .contacts .link-menu {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
  }

  .contacts {
    font-style: normal;
    padding: 16px 0;
  }

  /* ======================================== /header tablet ========================================= */

  /* ======================================== hero tablet ========================================= */
  .hero {
    padding: 112px 0;
    background-color: #2e2f42;
    text-align: center;
  }

  .back-img {
    max-width: 1440px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet-hero.jpg);
  }
  .hero-main-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    color: #ffffff;
    text-align: center;
    letter-spacing: 1.12px;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 36px;
  }

  /* ======================================== /hero tablet ========================================= */
  /* ======================================== advantages tablet ========================================= */
  .advantages-subtitle {
    text-align: start;
    color: #2e2f42;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-transform: capitalize;
    align-self: stretch;
  }

  .advantages-text {
    align-self: stretch;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 356px;
  }

  .advantages-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
  }
  .advantages-list-item {
    width: calc((100%-24px) / 2);
  }

  /* ======================================== /advantages tablet ========================================= */
  /* ======================================== team tablet ========================================= */

  .team-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 64px;
    justify-content: center;
  }

  .team-peopel {
    width: calc((100%-24px) / 2);
  }

  /* ======================================== /team tablet ========================================= */

  /* ======================================== portfolio tablet ========================================= */
  .portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
  }
  .portfolio-list-items {
    width: calc((100% - 24px) / 2);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* ======================================== /portfolio tablet ========================================= */

  /* ======================================== footer tablet ========================================= */

  .footer-subtitle {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: #ffffff;
    margin-bottom: 16px;
  }

  .footer-text {
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: #f4f4fd;
    background-color: #2e2f42;
    max-width: 264px;
  }

  .footer-form-sub {
    border: 1px solid #ffffff;
    border-radius: 4px;
    padding: 8px 0;
    padding-left: 16px;
    background-color: transparent;
    color: #ffffff;
    width: 264px;
    height: 40px;
    outline: none;
    font-size: 12px;
    letter-spacing: 0.04em;
    line-height: 1.5;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    margin-right: 24px;
  }

  .footer-subscribe {
    display: flex;
  }
  .footer-social-links {
    display: flex;
    gap: 16px;
  }

  /* ======================================== /footer tablet ========================================= */

  /* ========================================== overlay tablet ==================================== */

  .form-modal {
    position: absolute;
    width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 24px 24px 24px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .form-subtitle {
    color: #2e2f42;
    width: 360px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 16px;
  }
  .check-box {
    display: flex;
    max-width: 338px;
  }

  .name-checkbox {
    display: flex;
    align-items: baseline;
    color: #8e8f99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    font-weight: 400;
  }

  .castom-checkbox:checked + .name-checkbox > .icon-checkbox {
    fill: #f4f4fd;
    border: none;
    background-color: #404bbf;
  }

  .icon-checkbox {
    display: inline-flex;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    fill: transparent;
    cursor: pointer;
  }

  .text-checkbox {
    margin-right: 4px;
  }

  .link-policy {
    color: #4d5ae5;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
  }

  .check {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
  }

  .modal-burger {
    display: none;
  }

  /* ========================================== /overlay tablet ==================================== */
}
/* +++++++++++++++++++++++++++++++++++++++++ BG TABLET+++++++++++++++++++++++++++++++++++ */
@media screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
  .back-img {
    max-width: 1440px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet-hero@2x.jpg);
  }
}
/* +++++++++++++++++++++++++++++++++++++++++ BG TABLET+++++++++++++++++++++++++++++++++++ */
/* ---------------------------------- min-max tablet----------------------------------- */
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .footer-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
    padding-left: 108px;
  }
  .footer-text {
    text-align: start;
  }
}
/* ---------------------------------- /min-max tablet----------------------------------- */

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
  }
  /* ======================================== header desktop ========================================= */

  .contacts-wr {
    display: flex;
    gap: 40px;
  }

  .link-menu {
    padding: 24px 0;
  }

  .active {
    position: relative;
    color: #404bbf;
  }

  .contacts {
    font-style: normal;
  }

  .contacts .link-menu {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
  }
  /* ======================================== /header desktop ========================================= */

  /* ======================================== hero desktop ========================================= */
  .hero {
    padding: 188px 0;
    background-color: #2e2f42;
    text-align: center;
  }

  .back-img {
    max-width: 1440px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/desk-hero.jpg);
  }
  .hero-main-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    color: #ffffff;
    text-align: center;
    letter-spacing: 1.12px;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
  }

  /* ======================================== /hero desktop ========================================= */
  /* ======================================== advantages desktop ========================================= */
  .advantages-icon-list {
    display: flex;
    gap: 24px;
    margin-bottom: 8px;
  }

  .advantages-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 100px;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background: #f4f4fd;
    height: 112px;
    margin-bottom: 8px;
  }

  .advantages-title {
    color: #434455;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 0.72px;
    display: none;
  }

  .advantages-subtitle {
    color: #2e2f42;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
  }
  .advantages-text {
    line-height: 1.5;
    letter-spacing: 0.32px;
    width: 264px;
  }

  .advantages-list {
    display: flex;
    gap: 24px;
  }

  .advantages-list-item {
    width: calc((100%-72px) / 4);
  }

  .advantages {
    padding: 120px 0;
  }

  /* ======================================== /advantages desktop ========================================= */

  /* ======================================== team desktop ========================================= */

  .team {
    background-color: #f4f4fd;
    padding: 120px 0;
  }

  .team-list {
    display: flex;
    gap: 24px;
  }
  .team-peopel {
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }

  .team-list-item {
    padding: 32px 0;
    background-color: #ffffff;
  }

  .list-social-links {
    display: flex;
    gap: 24px;
    justify-content: center;
  }

  .team-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .team-icon {
    fill: #f4f4fd;
  }

  .team-links:hover,
  .team-links:focus {
    background-color: #404bbf;
  }

  .team-title {
    color: #2e2f42;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    text-transform: capitalize;
    letter-spacing: 0.72px;
    margin-bottom: 72px;
  }

  .team-subtitle {
    color: #2e2f42;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    text-align: center;
    margin-bottom: 8px;
  }

  .team-text {
    line-height: 1.5;
    letter-spacing: 0.32px;
    text-align: center;
    margin-bottom: 8px;
  }
  /* ======================================== /team desktop ========================================= */
  /* ======================================== portfolio desktop ========================================= */

  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
  }
  .portfolio-list-items {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio {
    padding: 120px 0;
  }
  /* ======================================== portfolio desktop ========================================= */
  /* ======================================== footer desktop ========================================= */

  .footer {
    background-color: #2e2f42;
    padding: 100px 0;
  }

  .footer-text {
    margin-right: 120px;
  }

  .footer-item {
    display: flex;
    align-items: baseline;
  }

  .footer-social-links {
    margin-right: 80px;
  }

  .footer-links:hover,
  .footer-links:focus {
    background-color: #31d0aa;
  }

  .footer-icon {
    fill: #f4f4fd;
  }
  .footer-icon-send {
    fill: #ffffff;
    margin-left: 16px;
  }

  .subscribe {
    display: flex;
    flex-direction: column;
  }

  .footer-form-sub {
    border: 1px solid #ffffff;
    border-radius: 4px;
    padding: 8px 0;
    padding-left: 16px;
    background-color: transparent;
    color: #ffffff;
    width: 264px;
    height: 40px;
    outline: none;
    font-size: 12px;
    letter-spacing: 0.04em;
    line-height: 1.5;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  }

  input::placeholder {
    color: #ffffff;
  }

  .footer-btn {
    min-width: 165px;
    display: inline-flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: #ffffff;
    background-color: #4d5ae5;
    letter-spacing: 0.64px;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-btn:hover,
  .footer-btn:focus {
    background-color: #404bbf;
  }
  /* ======================================== /footer desktop ========================================= */
}
/* +++++++++++++++++++++++++++++++++++++++++ BG DESK +++++++++++++++++++++++++++++++++++ */
@media screen and (min-resolution: 192dpi) and (min-width: 1158px),
  screen and (min-resolution: 2dppx) and (min-width: 1158px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 1158px) {
  .back-img {
    max-width: 1440px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/desk-hero@2x.jpg);
  }
}
/* +++++++++++++++++++++++++++++++++++++++++ /BG DESK +++++++++++++++++++++++++++++++++++ */
