/* ======================================== main setings ========================================= */
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  font-size: 16px;
  background-color: #ffffff;
}

.link {
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  padding: 0 16px;
}

button {
  cursor: pointer;
}

input {
  font-family: inherit;
}
/* ======================================== /main setings ========================================= */

/* ======================================== header mobile ========================================= */

/* ======================================== /header mobile ========================================= */

/* ======================================== hero mobile ========================================= */

/* ======================================== /hero mobile ========================================= */

/* ======================================== advantages mobile ========================================= */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.advantages-icon-list {
  display: none;
}

.advantages-title {
  color: #434455;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.72px;
  display: none;
}

.advantages-subtitle {
  text-align: center;
  color: #2e2f42;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-transform: capitalize;
  align-self: stretch;
}

.advantages-text {
  align-self: stretch;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 288px;
}

.advantages-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.advantages {
  padding: 96px 0;
}
/* ======================================== /advantages mobile ========================================= */

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    margin: 0 auto;
  }
  /* ======================================== header tablet ========================================= */

  /* ======================================== /header tablet ========================================= */

  /* ======================================== hero tablet ========================================= */

  /* ======================================== /hero tablet ========================================= */
  /* ======================================== advantages tablet ========================================= */
  .advantages-subtitle {
    text-align: start;
    color: #2e2f42;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-transform: capitalize;
    align-self: stretch;
  }

  .advantages-text {
    align-self: stretch;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 356px;
  }

  .advantages-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
  }
  .advantages-list-item {
    width: calc((100%-24px) / 2);
  }

  /* ======================================== /advantages tablet ========================================= */
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
  }
  /* ======================================== header desktop ========================================= */

  /* ======================================== /header desktop ========================================= */

  /* ======================================== hero desktop ========================================= */

  /* ======================================== /hero desktop ========================================= */
  /* ======================================== advantages desktop ========================================= */
  .advantages-icon-list {
    display: flex;
    gap: 24px;
    margin-bottom: 8px;
  }

  .advantages-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 100px;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background: #f4f4fd;
    height: 112px;
    margin-bottom: 8px;
  }

  .advantages-title {
    color: #434455;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 0.72px;
    display: none;
  }

  .advantages-subtitle {
    color: #2e2f42;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
  }
  .advantages-text {
    line-height: 1.5;
    letter-spacing: 0.32px;
    width: 264px;
  }

  .advantages-list {
    display: flex;
    gap: 24px;
  }

  .advantages-list-item {
    width: calc((100%-72px) / 4);
  }

  .advantages {
    padding: 120px 0;
  }
  /* ======================================== /advantages desktop ========================================= */
}
